{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block boton_edit %}

{% endblock %}

{% block contenido %}
<div class="row p-5">
    <div class="col-md-5">
        <h3>Citas de {{nombre_usuario}}</h3>
    </div>
</div>

<div class="row px-5">

    <div class="col-md-5">
        <h2 class="d-flex flex-row justify-content-center alig-items-center">Citas</h2>

        {% for cita in all_citas %}
        <div class="row border border-dark p-2">
                <figure>
                <blockquote class="blockquote">
                    <p>{{cita.contenido}}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">{{cita.autor}}</cite>
                </figcaption>
                </figure>
                <a class="btn btn-success col-md-3 mb-2" href="/">¡Me gusta!</a>
                <b>{{cita.num_megustas}} persona/s han dado megusta a esta cita.</b>
                <a class="btn btn-warning col-md-3" href="/user/{{cita.usuarios.id}}">{{cita.usuarios.first_name}} {{cita.usuarios.last_name}}</a>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block libreria %}
{% endblock %}